<a href="https://colab.research.google.com/github/olaronke/COMPUTATION/blob/main/Untitled24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
text1 = ["When a boy is born, his parents are visited by a wise man who tells them not to name their son. The wise man will give the boy a name when he is older. This is the story of how the boy seeks and eventually finds his own name and is able to discard an old dream for a new and wonderful one."]
text2 = ["When a boy visits another village, he is amazed to find the townspeople terrified of something that—just because they have not seen it before—they mistake for a terrible, dangerous animal. With his own knowledge and by demonstration, he helps them overcome their fears.Rose Mary Santiago’s illustrations accentuate the surprise in this story in a clever way that will delight youngsters. This is the second book in this series illustrated by her, following the award-winning best seller The Farmer’s Wife."]
text3 = ["A man tricks a young fox into believing that he will give it a chicken. However, the fox gets trapped but, through its ingenuity and perseverance, manages to escape. This story can inspire children to face challenges and to overcome and, sometimes, make use of obstacles in their path. Sally Mallam’s illustrations provide delightful and imaginative depictions of the characters."]

In [ ]:

import pandas as pd
import numpy as np
import re
import nltk
import matplotlib.pyplot as plt

In [ ]:
def count(elements):
    # check if each word has '.' at its last. If so then ignore '.'
    if elements[-1] == '.':
        elements = elements[0:len(elements) - 1]
    # if there exists a key as "elements" then simply
    # increase its value.
    if elements in dictionary:
        dictionary[elements] += 1
    # if the dictionary does not have the key as "elements"
    # then create a key "elements" and assign its value to 1.
    else:
        dictionary.update({elements: 1})

In [ ]:
text1 = ["When a boy is born, his parents are visited by a wise man who tells them not to name their son. The wise man will give the boy a name when he is older. This is the story of how the boy seeks and eventually finds his own name and is able to discard an old dream for a new and wonderful one."]
text2 = ["When a boy visits another village, he is amazed to find the townspeople terrified of something that—just because they have not seen it before—they mistake for a terrible, dangerous animal. With his own knowledge and by demonstration, he helps them overcome their fears.Rose Mary Santiago’s illustrations accentuate the surprise in this story in a clever way that will delight youngsters. This is the second book in this series illustrated by her, following the award-winning best seller The Farmer’s Wife."]
text3 = ["A man tricks a young fox into believing that he will give it a chicken. However, the fox gets trapped but, through its ingenuity and perseverance, manages to escape. This story can inspire children to face challenges and to overcome and, sometimes, make use of obstacles in their path. Sally Mallam’s illustrations provide delightful and imaginative depictions of the characters."]

In [ ]:
dictionary = {}

In [ ]:
text1 = "When a boy is born, his parents are visited by a wise man who tells them not to name their son. The wise man will give the boy a name when he is older. This is the story of how the boy seeks and eventually finds his own name and is able to discard an old dream for a new and wonderful one."

# split the text from space
result = (text1.split(" "))

# take each word from lst and pass it to the method count.
for elements in result:
    count(elements)

In [ ]:
for allKeys in dictionary:
    print ("Frequency of ", allKeys, end = " ")
    print (":", end = " ")
    print (dictionary[allKeys], end = " ")
    print()

Frequency of  When : 1
Frequency of  a : 4
Frequency of  boy : 3
Frequency of  is : 4
Frequency of  born, : 1
Frequency of  his : 2
Frequency of  parents : 1
Frequency of  are : 1
Frequency of  visited : 1
Frequency of  by : 1
Frequency of  wise : 2
Frequency of  man : 2
Frequency of  who : 1
Frequency of  tells : 1
Frequency of  them : 1
Frequency of  not : 1
Frequency of  to : 2
Frequency of  name : 3
Frequency of  their : 1
Frequency of  son : 1
Frequency of  The : 1
Frequency of  will : 1
Frequency of  give : 1
Frequency of  the : 3
Frequency of  when : 1
Frequency of  he : 1
Frequency of  older : 1
Frequency of  This : 1
Frequency of  story : 1
Frequency of  of : 1
Frequency of  how : 1
Frequency of  seeks : 1
Frequency of  and : 3
Frequency of  eventually : 1
Frequency of  finds : 1
Frequency of  own : 1
Frequency of  able : 1
Frequency of  discard : 1
Frequency of  an : 1
Frequency of  old : 1
Frequency of  dream : 1
Frequency of  for : 1
Frequency of  new : 1
Frequency of  wonderful : 1
Frequency of  one : 1

In [ ]:
def count(elements):
    # check if each word has '.' at its last. If so then ignore '.'
    if elements[-1] == '.':
        elements = elements[0:len(elements) - 1]
    # if there exists a key as "elements" then simply
    # increase its value.
    if elements in dictionary:
        dictionary[elements] += 1
    # if the dictionary does not have the key as "elements"
    # then create a key "elements" and assign its value to 1.
    else:
        dictionary.update({elements: 1})

In [ ]:
dictionary = {}

In [ ]:
text2 = "When a boy visits another village, he is amazed to find the townspeople terrified of something that—just because they have not seen it before—they mistake for a terrible, dangerous animal. With his own knowledge and by demonstration, he helps them overcome their fears.Rose Mary Santiago’s illustrations accentuate the surprise in this story in a clever way that will delight youngsters. This is the second book in this series illustrated by her, following the award-winning best seller The Farmer’s Wife."

# split the text2 from space
result = (text2.split(" "))

# take each word from lst and pass it to the method count.
for elements in result:
    count(elements)

In [ ]:
for allKeys in dictionary:
    print ("Frequency of ", allKeys, end = " ")
    print (":", end = " ")
    print (dictionary[allKeys], end = " ")
    print()

Frequency of  When : 1
Frequency of  a : 3
Frequency of  boy : 1
Frequency of  visits : 1
Frequency of  another : 1
Frequency of  village, : 1
Frequency of  he : 2
Frequency of  is : 2
Frequency of  amazed : 1
Frequency of  to : 1
Frequency of  find : 1
Frequency of  the : 4
Frequency of  townspeople : 1
Frequency of  terrified : 1
Frequency of  of : 1
Frequency of  something : 1
Frequency of  that—just : 1
Frequency of  because : 1
Frequency of  they : 1
Frequency of  have : 1
Frequency of  not : 1
Frequency of  seen : 1
Frequency of  it : 1
Frequency of  before—they : 1
Frequency of  mistake : 1
Frequency of  for : 1
Frequency of  terrible, : 1
Frequency of  dangerous : 1
Frequency of  animal : 1
Frequency of  With : 1
Frequency of  his : 1
Frequency of  own : 1
Frequency of  knowledge : 1
Frequency of  and : 1
Frequency of  by : 2
Frequency of  demonstration, : 1
Frequency of  helps : 1
Frequency of  them : 1
Frequency of  overcome : 1
Frequency of  their : 1
Frequency of  fears.Rose : 1
Frequency of  Mary : 1
Frequency of  Santiago’s : 1
Frequency of  illustrations : 1
Frequency of  accentuate : 1
Frequency of  surprise : 1
Frequency of  in : 3
Frequency of  this : 2
Frequency of  story : 1
Frequency of  clever : 1
Frequency of  way : 1
Frequency of  that : 1
Frequency of  will : 1
Frequency of  delight : 1
Frequency of  youngsters : 1
Frequency of  This : 1
Frequency of  second : 1
Frequency of  book : 1
Frequency of  series : 1
Frequency of  illustrated : 1
Frequency of  her, : 1
Frequency of  following : 1
Frequency of  award-winning : 1
Frequency of  best : 1
Frequency of  seller : 1
Frequency of  The : 1
Frequency of  Farmer’s : 1
Frequency of  Wife : 1

In [ ]:
text3 = "A man tricks a young fox into believing that he will give it a chicken. However, the fox gets trapped but, through its ingenuity and perseverance, manages to escape. This story can inspire children to face challenges and to overcome and, sometimes, make use of obstacles in their path. Sally Mallam’s illustrations provide delightful and imaginative depictions of the characters."
# split the text3 from space
result = (text3.split(" "))

# take each word from lst and pass it to the method count.
for elements in result:
    count(elements)

In [ ]:
for allKeys in dictionary:
    print ("Frequency of ", allKeys, end = " ")
    print (":", end = " ")
    print (dictionary[allKeys], end = " ")
    print()

Frequency of  When : 1
Frequency of  a : 5
Frequency of  boy : 1
Frequency of  visits : 1
Frequency of  another : 1
Frequency of  village, : 1
Frequency of  he : 3
Frequency of  is : 2
Frequency of  amazed : 1
Frequency of  to : 4
Frequency of  find : 1
Frequency of  the : 6
Frequency of  townspeople : 1
Frequency of  terrified : 1
Frequency of  of : 3
Frequency of  something : 1
Frequency of  that—just : 1
Frequency of  because : 1
Frequency of  they : 1
Frequency of  have : 1
Frequency of  not : 1
Frequency of  seen : 1
Frequency of  it : 2
Frequency of  before—they : 1
Frequency of  mistake : 1
Frequency of  for : 1
Frequency of  terrible, : 1
Frequency of  dangerous : 1
Frequency of  animal : 1
Frequency of  With : 1
Frequency of  his : 1
Frequency of  own : 1
Frequency of  knowledge : 1
Frequency of  and : 4
Frequency of  by : 2
Frequency of  demonstration, : 1
Frequency of  helps : 1
Frequency of  them : 1
Frequency of  overcome : 2
Frequency of  their : 2
Frequency of  fears.Rose : 1
Frequency of  Mary : 1
Frequency of  Santiago’s : 1
Frequency of  illustrations : 2
Frequency of  accentuate : 1
Frequency of  surprise : 1
Frequency of  in : 4
Frequency of  this : 2
Frequency of  story : 2
Frequency of  clever : 1
Frequency of  way : 1
Frequency of  that : 2
Frequency of  will : 2
Frequency of  delight : 1
Frequency of  youngsters : 1
Frequency of  This : 2
Frequency of  second : 1
Frequency of  book : 1
Frequency of  series : 1
Frequency of  illustrated : 1
Frequency of  her, : 1
Frequency of  following : 1
Frequency of  award-winning : 1
Frequency of  best : 1
Frequency of  seller : 1
Frequency of  The : 1
Frequency of  Farmer’s : 1
Frequency of  Wife : 1
Frequency of  A : 1
Frequency of  man : 1
Frequency of  tricks : 1
Frequency of  young : 1
Frequency of  fox : 2
Frequency of  into : 1
Frequency of  believing : 1
Frequency of  give : 1
Frequency of  chicken : 1
Frequency of  However, : 1
Frequency of  gets : 1
Frequency of  trapped : 1
Frequency of  but, : 1
Frequency of  through : 1
Frequency of  its : 1
Frequency of  ingenuity : 1
Frequency of  perseverance, : 1
Frequency of  manages : 1
Frequency of  escape : 1
Frequency of  can : 1
Frequency of  inspire : 1
Frequency of  children : 1
Frequency of  face : 1
Frequency of  challenges : 1
Frequency of  and, : 1
Frequency of  sometimes, : 1
Frequency of  make : 1
Frequency of  use : 1
Frequency of  obstacles : 1
Frequency of  path : 1
Frequency of  Sally : 1
Frequency of  Mallam’s : 1
Frequency of  provide : 1
Frequency of  delightful : 1
Frequency of  imaginative : 1
Frequency of  depictions : 1
Frequency of  characters : 1

In [ ]:
text1 = "When a boy is born, his parents are visited by a wise man who tells them not to name their son. The wise man will give the boy a name when he is older. This is the story of how the boy seeks and eventually finds his own name and is able to discard an old dream for a new and wonderful one."
text2 = "When a boy visits another village, he is amazed to find the townspeople terrified of something that—just because they have not seen it before—they mistake for a terrible, dangerous animal. With his own knowledge and by demonstration, he helps them overcome their fears.Rose Mary Santiago’s illustrations accentuate the surprise in this story in a clever way that will delight youngsters. This is the second book in this series illustrated by her, following the award-winning best seller The Farmer’s Wife."
text3 = "A man tricks a young fox into believing that he will give it a chicken. However, the fox gets trapped but, through its ingenuity and perseverance, manages to escape. This story can inspire children to face challenges and to overcome and, sometimes, make use of obstacles in their path. Sally Mallam’s illustrations provide delightful and imaginative depictions of the characters."

In [ ]:
data = [text1, text2, text3]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer()
vector_matrix = count_vectorizer.fit_transform(data)
vector_matrix

<3x124 sparse matrix of type '<class 'numpy.int64'>'
	with 158 stored elements in Compressed Sparse Row format>

In [ ]:
tokens = count_vectorizer.get_feature_names()
tokens

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['able',
 'accentuate',
 'amazed',
 'an',
 'and',
 'animal',
 'another',
 'are',
 'award',
 'because',
 'before',
 'believing',
 'best',
 'book',
 'born',
 'boy',
 'but',
 'by',
 'can',
 'challenges',
 'characters',
 'chicken',
 'children',
 'clever',
 'dangerous',
 'delight',
 'delightful',
 'demonstration',
 'depictions',
 'discard',
 'dream',
 'escape',
 'eventually',
 'face',
 'farmer',
 'fears',
 'find',
 'finds',
 'following',
 'for',
 'fox',
 'gets',
 'give',
 'have',
 'he',
 'helps',
 'her',
 'his',
 'how',
 'however',
 'illustrated',
 'illustrations',
 'imaginative',
 'in',
 'ingenuity',
 'inspire',
 'into',
 'is',
 'it',
 'its',
 'just',
 'knowledge',
 'make',
 'mallam',
 'man',
 'manages',
 'mary',
 'mistake',
 'name',
 'new',
 'not',
 'obstacles',
 'of',
 'old',
 'older',
 'one',
 'overcome',
 'own',
 'parents',
 'path',
 'perseverance',
 'provide',
 'rose',
 'sally',
 'santiago',
 'second',
 'seeks',
 'seen',
 'seller',
 'series',
 'something',
 'sometimes',
 'son',
 'story',
 'surprise',
 'tells',
 'terrible',
 'terrified',
 'that',
 'the',
 'their',
 'them',
 'they',
 'this',
 'through',
 'to',
 'townspeople',
 'trapped',
 'tricks',
 'use',
 'village',
 'visited',
 'visits',
 'way',
 'when',
 'who',
 'wife',
 'will',
 'winning',
 'wise',
 'with',
 'wonderful',
 'young',
 'youngsters']

In [ ]:
vector_matrix.toarray()

array([[1, 0, 0, 1, 3, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 3, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
        1, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 2, 0,
        0, 0, 3, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 4, 1, 1, 0, 1, 0, 2, 0, 0, 0, 0,
        0, 1, 0, 0, 2, 1, 0, 1, 0, 2, 0, 1, 0, 0],
       [0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 2, 0, 0, 0, 0,
        0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
        2, 1, 1, 1, 0, 0, 1, 1, 0, 3, 0, 0, 0, 2, 1, 0, 1, 1, 0, 0, 0, 0,
        1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
        1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 2, 5, 1, 1, 2, 3, 0, 1, 1, 0, 0, 0,
        1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
        1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 2, 1, 1, 0,
        1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1,
        0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 2, 1, 0, 0, 1, 1, 3, 0, 1, 1, 1,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0]])

In [ ]:
import pandas as pd

def create_dataframe(matrix, tokens):

    doc_names = [f'doc_{i+1}' for i, _ in enumerate(matrix)]
    df = pd.DataFrame(data=matrix, index=doc_names, columns=tokens)
    return(df)

In [ ]:
create_dataframe(vector_matrix.toarray(),tokens)

,able,accentuate,amazed,an,and,animal,another,are,award,because,...,when,who,wife,will,winning,wise,with,wonderful,young,youngsters
doc_1,1,0,0,1,3,0,0,1,0,0,...,2,1,0,1,0,2,0,1,0,0
doc_2,0,1,1,0,1,1,1,0,1,1,...,1,0,1,1,1,0,1,0,0,1
doc_3,0,0,0,0,4,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity_matrix = cosine_similarity(vector_matrix)
create_dataframe(cosine_similarity_matrix,['text1', 'text2', 'text3'])

          text1     text2     text3
doc_1  1.000000  0.472630  0.379663
doc_2  0.472630  1.000000  0.352083
doc_3  0.379663  0.352083  1.000000

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

Tfidf_vect = TfidfVectorizer()
vector_matrix = Tfidf_vect.fit_transform(data)

tokens = Tfidf_vect.get_feature_names()
create_dataframe(vector_matrix.toarray(),tokens)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,able,accentuate,amazed,an,and,animal,another,are,award,because,...,when,who,wife,will,winning,wise,with,wonderful,young,youngsters
doc_1,0.119455,0.000000,0.000000,0.119455,0.211655,0.000000,0.000000,0.119455,0.000000,0.000000,...,0.181696,0.119455,0.000000,0.070552,0.000000,0.238909,0.000000,0.119455,0.000000,0.000000
doc_2,0.000000,0.111609,0.111609,0.000000,0.065918,0.111609,0.111609,0.000000,0.111609,0.111609,...,0.084882,0.000000,0.111609,0.065918,0.111609,0.000000,0.111609,0.000000,0.000000,0.111609
doc_3,0.000000,0.000000,0.000000,0.000000,0.323582,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.080896,0.000000,0.000000,0.000000,0.000000,0.136968,0.000000

In [ ]:
cosine_similarity_matrix = cosine_similarity(vector_matrix)
create_dataframe(cosine_similarity_matrix,['text1', 'text2', 'text3'])

          text1     text2     text3
doc_1  1.000000  0.320060  0.216732
doc_2  0.320060  1.000000  0.214712
doc_3  0.216732  0.214712  1.000000